@font-face {
	font-family: "sss";
	src: url(./imgs/sss.ttf);
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	background: #ecf0f3;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

::-webkit-scrollbar {
	width: 0px;
	display: none;
}

.box {
	width: 100vw;
	min-height: 0vh;
	margin: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.column-box {
	flex-shrink: 0;
	width: 350px;
	height: auto;
	min-height: 0vw;
	border-radius: 10px;
	box-shadow: -5px -5px 10px #fff, 5px 5px 10px #d1d9e6;
	box-sizing: border-box;
	padding-bottom: 25px;
	margin-bottom: 25px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.left-top-img {
	/* 500*334 */
	display: block;
	width: 300px;
	height: calc(300px*334/500);
	margin: 25px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 10px solid transparent;
	box-shadow: -5px -5px 10px #fff, 5px 5px 10px #d1d9e6;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
}

.row {
	width: 100%;
	height: 15px;
	margin-top: 1.5vw;
	position: relative;

	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.row-text {
	flex-shrink: 0;
	/* width:75px; */
	height: 15px;
	line-height: 15px;
	font-size: 8px;
	text-align: center;
	color: #82c8fc;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-shadow: 0 0 2px #82c8fc, 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-family: "sss";
}

.left-row-text {
	width: 100px;
}

.right-row-text {
	width: 50px;
}

.row-input {
	flex-shrink: 0;
	width: 200px;
	height: 100%;
	border-radius: 5px;
	box-shadow: -5px -5px 10px #d1d9e6, 5px 5px 10px #fff;
}

/* 去掉默认样式 */
input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type=range]:focus {
	/*去除落焦时的外边框效果 */
	outline: none;
}

/* chrome */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* firefox */
input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
}

/* IE */
input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
}

.center-top-img {
	border: none;
	box-shadow: none;
	filter: grayscale(1) brightness(0.9) contrast(1) invert(1) opacity(1);
}

.center-top-sm-img-text {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	color: #82c8fc;
	border-radius: 5px;
	text-shadow: 0 0 2px #82c8fc, 1px 1px 1px rgba(0, 0, 0, 0.1);
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: "sss";
	position: relative;
	/* box-shadow: -5px -5px 10px #fff, 5px 5px 10px #d1d9e6; */
	box-shadow: -5px -5px 10px #d1d9e6, 5px 5px 10px #fff;
}

.center-top-sm-img-text::before,
.center-top-sm-img-text::after {
	content: '';
	width: 4px;
	height: 25px;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0 0 4px white;
	opacity: 0;
}

.center-top-sm-img-text::before {
	animation: white-masg-text-ani 1s linear 3s infinite alternate;
}

.center-top-sm-img-text::after {
	animation: white-masg-text-ani 1s linear 3.5s infinite backwards;
}

@keyframes white-masg-text-ani {
	0% {
		opacity: 0;
		transform: translateX(0%) rotateZ(45deg);
	}

	20% {
		opacity: 1;
		transform: translateX(10px) rotateZ(45deg);
	}

	80% {
		opacity: 0;
		transform: translateX(60px) rotateZ(45deg);
	}

	100% {
		opacity: 0;
		transform: translateX(70px) rotateZ(45deg);
	}
}

.circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: radial-gradient(rgba(255, 255, 255, 1) 0% 10%, rgba(0, 0, 0, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(0, 0, 0, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, rgba(255, 255, 255, 0.1) 100%),
		linear-gradient(0deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(15deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(30deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(60deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(75deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(90deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(105deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(120deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(135deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(150deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(165deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		conic-gradient(hsl(10, 100%, 50%), hsl(100, 100%, 50%), hsl(200, 100%, 50%), hsl(300, 100%, 50%), hsl(10, 100%, 50%));
}

.third-column-box {
	position: relative;
}

.third-left-top-img {
	/* 500*334 */
	width: 350px;
	height: calc(350px*334/500);
	position: relative;
	z-index: 1;
	border-radius: 5px;
}

.position-box {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.third-column-first-box{
	width:300px;
	height:300px;
	margin-top:20px;
	background:url(./imgs/abc.jpg),radial-gradient(rgba(255, 255, 255, 1) 0% 10%, rgba(0, 0, 0, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(0, 0, 0, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, rgba(255, 255, 255, 0.1) 100%),
		linear-gradient(0deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(15deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(30deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(60deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(75deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(90deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(105deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(120deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(135deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(150deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		linear-gradient(165deg, rgba(0, 0, 0, 0) 49.9%, rgba(255, 255, 255, 0.1) 49.9% 50.1%, rgba(0, 0, 0, 0) 50.1%) center/300px 300px no-repeat,
		conic-gradient(hsl(10, 100%, 50%), hsl(100, 100%, 50%), hsl(200, 100%, 50%), hsl(300, 100%, 50%), hsl(10, 100%, 50%));;
}

.btn-row {
	width: 100%;
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-left-text {
	font-size: 15px;
}

.background-blend-mode-select {
	min-width: 150px;
	outline: none;
	border: none;
	text-align: center;
	background: transparent;
	box-shadow: -5px -5px 10px #fff, 5px 5px 10px #d1d9e6;
	text-shadow: 0 0 2px #82c8fc, 1px 1px 1px rgba(0, 0, 0, 0.1);
	color: #82c8fc;
}

.third-column-second-box{
	margin-top:20px;
	position: relative;
}
.third-left-top-second-img{
	width:300px;
	height:calc(300px*334/500);
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
}
.four-column-box{
	position: relative;
	padding:25px 0px;
}
.four-circle{
	box-shadow: -5px -5px 10px #d1d9e6, 5px 5px 10px #fff;
}
.inner-circle-box{
	width:300px;
	height:300px;
	overflow: hidden;
	margin-top:25px;
	border-radius: 50%;
}
.new-circle,.new-circle-box{
	width:100%;
	height:100%;
	position: relative;
	background:radial-gradient(white, black);
}
.new-circle-box::before,.new-circle-box::after{
	content: '';
	width:300px;
	height: 300px;
	position: absolute;
	left:0px;
	top:0px;
	transform-origin: center;
}
.new-circle-box::before{
	background:conic-gradient(rgba(3, 10, 0, 0.77), rgba(3, 10, 0, 0.4), rgba(3, 10, 0, 0.62), rgba(3, 10, 0, 0.78), rgba(3, 10, 0, 0.53), rgba(3, 10, 0, 0.88), rgba(3, 10, 0, 0.59), rgba(3, 10, 0, 0.44), rgba(3, 10, 0, 0.71), rgba(3, 10, 0, 0.51), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.32), rgba(3, 10, 0, 0.26), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.27), rgba(3, 10, 0, 0.88), rgba(4, 8, 2, 0.35), rgba(3, 10, 0, 0.73), rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.65), rgba(3, 10, 0, 0.41), #030a00, rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.37), rgba(3, 10, 0, 0.95), rgba(3, 10, 0, 0.83), rgba(3, 10, 0, 0.77), rgba(3, 10, 0, 0.4), rgba(3, 10, 0, 0.62), rgba(3, 10, 0, 0.78), rgba(3, 10, 0, 0.53), rgba(3, 10, 0, 0.88), rgba(3, 10, 0, 0.59), rgba(3, 10, 0, 0.44), rgba(3, 10, 0, 0.71), rgba(3, 10, 0, 0.51), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.32), rgba(3, 10, 0, 0.26), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.27), rgba(3, 10, 0, 0.88), rgba(4, 8, 2, 0.35), rgba(3, 10, 0, 0.73), rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.65), rgba(3, 10, 0, 0.41), #030a00, rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.37), rgba(3, 10, 0, 0.95));
	mix-blend-mode: overlay;
	animation: circle-rotate-1-ani 6s ease-in-out infinite alternate;
}
.new-circle-box::after{
	background: conic-gradient(rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.79), rgba(3, 10, 0, 0.61), rgba(3, 10, 0, 0.33), rgba(3, 10, 0, 0.89), rgba(3, 10, 0, 0.11), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.27), rgba(3, 10, 0, 0.26), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.81), rgba(3, 10, 0, 0.2), rgba(3, 10, 0, 0.15), rgba(3, 10, 0, 0.15), rgba(3, 10, 0, 0.84), rgba(3, 10, 0, 0.16), rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.79), rgba(3, 10, 0, 0.61), rgba(3, 10, 0, 0.33), rgba(3, 10, 0, 0.89), rgba(3, 10, 0, 0.11), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.27), rgba(3, 10, 0, 0.26), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.81), rgba(3, 10, 0, 0.2), rgba(3, 10, 0, 0.15), rgba(3, 10, 0, 0.15), rgba(3, 10, 0, 0.84));
	mix-blend-mode: overlay;
	animation: circle-rotate-2-ani 3s ease-in-out infinite alternate;
}

@keyframes circle-rotate-1-ani{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(180deg);
	}
}
@keyframes circle-rotate-2-ani{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-180deg);
	}
}
